<!DOCTYPE html>
<html>
    <head>
        <style>
            html {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>

        <!-- navigation -->

        <div id="navBar">
            <form action="/insertdata" id="navInsertData" method="GET">
                <input type="submit" value="[Debug] Add data">
            </form>
        </div>

        <h1>Fraser Irvine (1801054) Honours Project</h1>
        <br>
        <div id="indexIntro">
            This is the main page where you can search for datasets
        </div>
        <div id="searchBar">
            <p>Search options:</p>
                <label for="searchTerms">Search by Keywords/ Location</label><br>
                <input type="text" name="searchTerms" id="searchTerms"><br><br>
                <!-- filtering by data type if its geodata or CSV data-->
                <label>Show:</label><br>
                <input type="radio" id="dataCSV" name="dataType" value="CSV">
                <label for="dataCSV">CSV (Comma Separated Values)</label><br>
                <input type="radio" id="dataGEO" name="dataType" value="GEO">
                <label for="dataGEO">Geographical (currently broken)</label><br>
                <input type="radio" id="dataESRIREST" name="dataType" value="ESRIREST">
                <label for="dataESRIREST">ESRI REST</label><br>
                <input type="radio" id="dataHTML" name="dataType" value="HTML">
                <label for="dataHTML">HTML</label><br>
                <input type="radio" id="dataALL" name="dataType" value="ALL">
                <label for="dataALL">Show All</label><br>
                <!-- debug purposes. changes behaviour of api search to show more or less data -->
                <p>
                    Debug: changes behaviour of search api affecting number of values returned<br>
                    (Leave empty for default values)
                </p>
                <label for="rowStart">Show results from start of row index (default: 0)</label>
                <input type="number" id="rowStart" name="rowStart"><br>
                <label for="rowCount">The count of how many rows (default: 10)</label>
                <input type="number" id="rowCount" name="rowCount"><br>
                <!-- button converted to perform action instead of submit -->
                <button onclick="getQuery()">Submit</button>
            </div>

            <script>
                //builds a query string
                function getQuery() {
                    
                    let searchTerms = document.getElementById("searchTerms").value;
                    let rowStart = document.getElementById("rowStart").value;
                    let rowCount = document.getElementById("rowCount").value;

                    let dataType = "";

                    //parse value of radio buttons
                    if (document.getElementById("dataCSV").checked == true) {
                        dataType = "CSV";
                    } else if (document.getElementById("dataGEO").checked == true) {
                        dataType = "GEO";
                    } else if (document.getElementById("dataESRIREST").checked == true) {
                        dataType = "ESRIREST";
                    } else if (document.getElementById("dataHTML").checked == true) {
                        dataType = "HTML";
                    } else if (document.getElementById("dataALL").checked == true) {
                        dataType = "ALL";
                    }

                    let params = new URLSearchParams({
                        searchTerms : searchTerms,
                        dataType : dataType,
                        rowStart : rowStart,
                        rowCount : rowCount
                    }).toString();
                    window.location.href = `/search?${params}`;

                }
            </script>

        </div>
        <br>
        <hr>
        <br>

        <div id="searchReturns">
            <!-- Displays search returns in table format -->
            <table>
                <tr>
                    <th>Results</th>
                </tr>

                <!--
                    beginning of EJS code that populates the page with a list of search returns
                -->
                <% results.forEach(result => { %>
                    <tr>
                        <td>
                            <ul>
                                <li><%= result.title %></li>
                                <li><%= result.date_created %></li>
                                <li><%= result.date_modified %></li>
                                <li><%= result.licence %></li>
                                <li><%= result.data_type %></li>
                                <li><%= result.resources %></li>
                                <li>
                                    <form action=<%=`/packageview/${result.package_id}`%> id="viewPackageButton" method="GET">
                                        <input type="submit" id="submitButton" value="<%= result.package_hasdb_text %>">
                                    </form>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <% }); %>
            </table>
        </div>
    </body>
</html>