<!DOCTYPE html>
<html>
    <head>
        <!--can't figure out how to make external CSS work so i'll just use in head-->
        <!-- <link rel="stylesheet" type="text/css" href="indexstyle.css"> -->
        <style>
            html {
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Fraser Irvine (1801054) Honours Project</h1>
        <br>
        <div id="indexIntro">
            This is the main page where you can search for datasets
        </div>
        <div id="searchBar">
            <p>Search options:</p>
            <form action="/search" id="searchForm" class="form" method="POST">
                <!-- search terms will allow users to search by keywords or by location-->
                <label for="searchTerms">Search by Keywords/ Location</label><br>
                <input type="text" name="searchTerms" id="searchTerms"><br><br>
                <!-- filtering by data type if its geodata or CSV data-->
                <label>Show:</label><br>
                <input type="radio" id="dataCSV" name="dataType" value="CSV">
                <label for="dataCSV">CSV (Comma Separated Values)</label><br>
                <input type="radio" id="dataGEO" name="dataType" value="GEO">
                <label for="dataGEO">Geographical (currently broken)</label><br>
                <input type="radio" id="dataALL" name="dataType" value="ALL">
                <label for="dataALL">Show All</label><br>
                <!-- debug purposes. changes behaviour of api search to show more or less data-->
                <p>
                    Debug: changes behaviour of search api affecting number of values returned<br>
                    (Leave empty for default values)
                </p>
                <label for="rowStart">Show results from start of row index (default: 0)</label>
                <input type="number" id="rowStart" name="rowStart"><br>
                <label for="rowCount">The count of how many rows (default: 10)</label>
                <input type="number" id="rowCount" name="rowCount"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <br>
        <hr>
        <br>

        <div id="searchReturns">
            <!-- Displays search returns in table format -->
            <table>
                <tr>
                    <th>Results</th>
                </tr>

                <!--
                    beginning of EJS code that populates the page with a list of search returns
                -->
                <% results.forEach(result => { %>
                    <tr>
                        <td>
                            <ul>
                                <li><%= result.title %></li>
                                <li><%= result.date_created %></li>
                                <li><%= result.date_modified %></li>
                                <li><%= result.licence %></li>
                                <li><%= result.data_type %></li>
                                <li><%= result.resources %></li>
                                <li>
                                    <!--
                                        placeholder for implementing a button that will redirect the user to a
                                        new page that shows all datasets within the package to choose from

                                        will use the "package_id" element in the result object
                                    -->
                                    <form action=<%=`/packageview/${result.package_id}`%> id="viewPackageButton" method="GET">
                                        <input type="submit" value="View this data package">
                                    </form>
                                </li>
                            </ul>
                        </td>
                    </tr>
                <% }); %>

            </table>

        </div>

    </body>
</html>