<!DOCTYPE html>
<html>
    <head>
        <style>
            html {
                font-family: sans-serif;
            }

            /* Package Info Table */
            #packageInfoTable table,th,td {
                border: 1px solid black;
            }

            /* Dataset Table Outer */

            #datasetTableOuter table {
                border: 1px solid black;
            }

            /* Dataset Table Inner*/

            #datasetTableInner table,th,td {
                border: 1px solid black;
            }

        </style>
    </head>

    <body>
        <!-- Navigation -->

        <div id="navBar">
            <form action="/" id="navHomeButton" method="GET">
                <input type="submit" value="Return to Search">
            </form>
            <form action="/insertdata" id="navInsertData" method="GET">
                <input type="submit" value="[Debug] Add data">
            </form>
        </div>

        <!-- Simple Header -->
        <h1>Package View</h1>
        <br>
        <b><u>Information about this package</u></b>
        <div id="packageInfoTable">
            <table>
                <tr>
                    <td>Title</td>
                    <td><%= packageObj.p_title %></td>       
                </tr>
                <tr>
                    <td>Licence</td>
                    <td><%= packageObj.p_licence %></td>
                </tr>
                <tr>
                    <td>Date Created</td>
                    <td><%= packageObj.p_date_created %></td>
                </tr>
                <tr>
                    <td>Date Modified</td>
                    <td><%= packageObj.p_date_modified %></td>
                </tr>
            </table>
        </div>
        <hr>
        <!--table for datasets -->
        <div id="datasetTableOuter">
            <table>
            <tr>
                <th>Datasets</th>
            </tr>
            <% packageObj.datasets.forEach(dataset => { %>
                <tr>
                    <div id="datasetTableInner">
                        <table>
                            <tr>
                                <td>Description</td>
                                <td><%= dataset.description %></td>
                            </tr>
                            <tr>
                                <td>Data Format</td>
                                <td><%= dataset.data_format %></td>
                            </tr>
                            <tr>
                                <td>Data URL</td>
                                <td><a href=<%= dataset.data_url %> target="_blank"><%= dataset.data_url %></a></td>
                            </tr>
                            <tr>
                                <td>Data ID</td>
                               <td><%= dataset.data_id %></td>
                            </tr>
                        </table>
                    </div>
                    <hr>
                </tr>
            <% }); %>
            </table>
        </div>
        
    </body>
</html>